@using tl2_tp8_2025_NievaS24.Models;
@model Productos


<form asp-controller="Productos" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Precio"></label>
        <input asp-for="@Model.Precio" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Crear</button>
</form>