@using tl2_tp8_2025_NievaS24.Models
@model Presupuestos

<h2 class="text-center my-4">Productos</h2>

@if (Model.detalles.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PresupuestosDetalle p in Model.detalles)
            {
                <tr>
                    <td>@p.Producto.idProducto</td>
                    <td>@p.Producto.Descripcion</td>
                    <td>$@p.Producto.Precio</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger text-center">
        <strong>El presupuesto no tiene productos asociados</strong>
    </div>
}