@using tl2_tp7_2025_NievaS24.Models
@model List<Presupuestos>

<h2 class="text-center my-4">Presupuestos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Destinatario</th>
            <th>Fecha de creación</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Presupuestos p in Model)
        {
            <tr>
                <td>@p.idPresupuesto</td>
                <td>@p.NombreDestinatario</td>
                <td>@p.FechaCreacion.ToString()</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Presupuestos" asp-action="Details"
                        asp-route-id="@p.idPresupuesto"> Ver detalle </a>
                </td>
            </tr>
        }
    </tbody>
</table>